<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>531527796371-l5ecqoil0e4qbn9e329n23br9911cqb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531527796371-l5ecqoil0e4qbn9e329n23br9911cqb5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>531527796371-0h47782o9o5het0jraakdtsud719kplc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB63WUfghkol-XZEbwi3iE-95QFwlsuw68</string>
	<key>GCM_SENDER_ID</key>
	<string>531527796371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flaviorausa.MyMirror</string>
	<key>PROJECT_ID</key>
	<string>my-mirror-af8fa</string>
	<key>STORAGE_BUCKET</key>
	<string>my-mirror-af8fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:531527796371:ios:bd4c656283a0f3d0</string>
	<key>DATABASE_URL</key>
	<string>https://my-mirror-af8fa.firebaseio.com</string>
</dict>
</plist>